@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Extra styles if needed */

body {
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

#typewriter::after {
  content: "|";
  animation: blink 1s infinite;
  margin-left: 2px;
}
@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}
